.itemCellName{
    display: inline-block;

    width: 70%;
}

.itemCellContent{
    display: inline-block;
    width: 30%;
}

.itemInput{
    width: 100%;

    padding: 0px;

    border: none;
    border-bottom: 1px dotted black;

    background-color: transparent;

    font-size: 16px;
    font-weight: bold;
    color: #eb6982;
}

.itemInput:focus{
    outline: none;
}

.itemInputFinal{
    border: none;
}

.itemInputFinal:focus{
    outline: none;
}